.container {
  height: 125px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  display: flex;
  justify-content: space-between;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding-left: 4vw;
  padding-right: 4vw;
}

.clear {
  cursor: pointer;
}

.slider {
  position: relative;
  width: 75vw;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 8px;
}

.slider__track {
  background-color: rgb(197	206	222	);
  width: 100%;
  z-index: 1;
}

.slider__range {
  background: linear-gradient(.25turn, rgb(36, 43, 59), rgb(71,	83,	112	));
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: rgb(255, 255, 255);
  font-size: 12px;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

.label__left-value {
  margin-top: -80px;
  left: 6px;
  position: absolute;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 75vw;
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: rgb(255, 255,255);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 2.25px rgb(36, 43, 59);
  cursor: pointer;
  height: 22px;
  width: 22px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: rgb(255, 255,255);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 2.25px rgb(36, 43, 59);
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.bubble {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 8px;
  max-width: 150px;
  text-align: center;
  position:relative;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  white-space: nowrap;
}

.maxBubbleContainer,
.minBubbleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -65px;
  margin-left: -65px;;
  position: absolute;
  width: 150px;
  z-index: 10;
}

.arrowDown {
  width: 0; 
  height: 0; 
  margin-top: -4px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgb(0,0,0);
  position: relative;
}


