body   {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
}

html {
  overflow-y: auto;
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
